name: Cleans up AWS Infra for Multi-Account Deployment

on:  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  AWS_TOOLING_ACCOUNT_ID: 824161490652
  AWS_ORGANIZATIONAL_UNIT_ID: ou-nzch-e6q38csv
  CROSS_ACCOUNT_STACK_SET_NAME: cross-account-roles-stack 


permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Clean AWS Infra
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
          role-to-assume: arn:aws:iam::${{ env.AWS_TOOLING_ACCOUNT_ID }}:role/GitHubActionsDeployRole
          aws-region: ${{ env.AWS_REGION }}
    
    - name: Clean Deploy Role 
      run: |
        aws cloudformation delete-stack \
        --stack-name deploy-roles \
        --output json \
        --region ${{ env.AWS_REGION }}
    

    - name: Clean Template File to S3 Bucket
      run: |
       aws s3 rm s3://deployment-template/cross-account-roles.yaml

    - name: Clean Deploy S3 Bucket
      run: |
        aws cloudformation delete-stack \
        --stack-name deploy-s3-stack \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Clean Deploy Cross Account Roles Stack Set instances
      run: |
          aws cloudformation delete-stack-instances \
          --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
          --regions ${{ env.AWS_REGION }} \
          --deployment-targets OrganizationalUnitIds='["${{env.AWS_ORGANIZATIONAL_UNIT_ID}}"]' \
          --call-as DELEGATED_ADMIN \
          --no-retain-stacks \
          --operation-preferences FailureToleranceCount=0,MaxConcurrentCount=1
    
    - name: Clean Deploy Cross Account Roles Stack Set
      run: |
          aws cloudformation delete-stack-set \
          --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
          --call-as DELEGATED_ADMIN