name: Cleans up AWS Infra for Multi-Account Deployment

on:  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  AWS_TOOLING_ACCOUNT_ID: 824161490652
  AWS_ORGANIZATIONAL_UNIT_ID: ou-nzch-e6q38csv
  CROSS_ACCOUNT_STACK_SET_NAME: cross-account-roles-stack 


permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Clean AWS Infra
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
          role-to-assume: arn:aws:iam::${{ env.AWS_TOOLING_ACCOUNT_ID }}:role/GitHubActionsDeployRole
          aws-region: ${{ env.AWS_REGION }}
    
    - name: Clean Deploy Role 
      run: |
        aws cloudformation delete-stack \
        --stack-name deploy-roles \
        --output json \
        --region ${{ env.AWS_REGION }}
    

    - name: Clean Template File to S3 Bucket
      run: |
        EXISTING=$(aws s3 ls s3://deployment-template > /dev/null 2>&1)
        if [-z "$EXISTING"]; then
          aws s3 rm s3://deployment-template/cross-account-roles.yaml
        else
          echo "No cross-account-roles.yaml file exist"
        fi

    - name: Clean Deploy S3 Bucket
      run: |
        aws cloudformation delete-stack \
        --stack-name deploy-s3-stack \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Clean Deploy Cross Account Roles Stack Set instances
      run: |
          echo "Starting deletion of stack instances..."
          OP_ID=$(aws cloudformation delete-stack-instances \
            --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
            --deployment-targets OrganizationalUnitIds='["${{env.AWS_ORGANIZATIONAL_UNIT_ID}}"]' \
            --regions us-east-1 \
            --no-retain-stacks \
            --call-as DELEGATED_ADMIN \
            --query "OperationId" --output text)

          echo "Waiting for operation $OP_ID to complete..."
          while true; do
            STATUS=$(aws cloudformation describe-stack-set-operation \
              --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
              --operation-id $OP_ID \
              --call-as DELEGATED_ADMIN \
              --query "StackSetOperation.Status" --output text)
            
            if [ "$STATUS" == "SUCCEEDED" ]; then
              echo "Instances deleted successfully."
              break
            elif [[ "$STATUS" == "FAILED" || "$STATUS" == "STOPPED" ]]; then
              echo "Cleanup failed with status: $STATUS"
              exit 1
            fi
            echo "Current status: $STATUS... waiting 15s"
            sleep 15
          done

          echo "Deleting the StackSet blueprint..."
          aws cloudformation delete-stack-set \
            --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
            --call-as DELEGATED_ADMIN
          
          echo "Cleanup complete! Environment is fresh."
    
   