name: Sets up AWS Infra for Multi-Account Deployment

on:
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  AWS_TOOLING_ACCOUNT_ID: 824161490652
  AWS_ORGANIZATIONAL_UNIT_ID: ou-nzch-e6q38csv
  CROSS_ACCOUNT_STACK_SET_NAME: cross-account-roles-stack 


permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy AWS
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
          role-to-assume: arn:aws:iam::${{ env.AWS_TOOLING_ACCOUNT_ID }}:role/GitHubActionsDeployRole
          aws-region: ${{ env.AWS_REGION }}

    - name: Validate Roles Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/deploy-roles.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Deploy Role 
      run: |
        aws cloudformation deploy \
        --stack-name deploy-roles \
        --template-file templates/deploy-roles.yaml \
        --output json \
        --no-fail-on-empty-changeset \
        --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
        --region ${{ env.AWS_REGION }}

    - name: Validate S3 Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/deploy-s3.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Deploy S3 Bucket
      run: |
        aws cloudformation deploy \
        --stack-name deploy-s3-stack \
        --template-file templates/deploy-s3.yaml \
        --output json \
        --no-fail-on-empty-changeset \
        --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
        --region ${{ env.AWS_REGION }}
    
    - name: Validate Cross Account Roles Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/cross-account-roles.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}

    - name: Copy Template File to S3 Bucket
      run: |
       aws s3 cp templates/cross-account-roles.yaml s3://deployment-template/cross-account-roles.yaml
    
    - name: Deploy Cross Account Roles Stack Set
      run: |
        EXISTING=$(aws cloudformation describe-stack-set --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} --call-as DELEGATED_ADMIN --region ${{ env.AWS_REGION }} > /dev/null 2>&1)

        if [-z "$EXISTING"]; then
          echo "StackSet does not exist. Creating..."
          OP_ID=$(aws cloudformation create-stack-set \
          --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
          --template-url https://deployment-template.s3.${{ env.AWS_REGION }}.amazonaws.com/cross-account-roles.yaml \
          --output json \
          --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
          --permission-model SERVICE_MANAGED \
          --auto-deployment Enabled=true,RetainStacksOnAccountRemoval=false \
          --call-as DELEGATED_ADMIN \
          --parameters ParameterKey=ToolingAccountId,ParameterValue=${{env.AWS_TOOLING_ACCOUNT_ID}} \
          --region ${{ env.AWS_REGION }})
          
          echo "Waiting for operation $OP_ID to complete..."

          while true; do
            STATUS=$(aws cloudformation describe-stack-set-operation \
              --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
              --operation-id $OP_ID \
              --call-as DELEGATED_ADMIN \
              --query "StackSetOperation.Status" --output text)
            
            if [ "$STATUS" == "SUCCEEDED" ]; then
              echo "Instances created successfully."
              break
            elif [[ "$STATUS" == "FAILED" || "$STATUS" == "STOPPED" ]]; then
              echo "Creation failed with status: $STATUS"
              exit 1
            fi
            echo "Current status: $STATUS... waiting 15s"
            sleep 15
          done

          echo "Creating initial instances to OrganizationalUnitId=${{env.AWS_ORGANIZATIONAL_UNIT_ID}}"
          aws cloudformation create-stack-instances \
          --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
          --regions ${{ env.AWS_REGION }} \
          --deployment-targets OrganizationalUnitIds='["${{env.AWS_ORGANIZATIONAL_UNIT_ID}}"]' \
          --call-as DELEGATED_ADMIN \
          --operation-preferences FailureToleranceCount=0,MaxConcurrentCount=1
          
        else
          echo "StackSet already exists. Updating template..."
          aws cloudformation update-stack-set \
            --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
            --template-url https://deployment-template.s3.${{ env.AWS_REGION }}.amazonaws.com/cross-account-roles.yaml \
            --output json \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --permission-model SERVICE_MANAGED \
            --auto-deployment Enabled=true,RetainStacksOnAccountRemoval=false \
            --call-as DELEGATED_ADMIN \
            --parameters ParameterKey=ToolingAccountId,ParameterValue=${{env.AWS_TOOLING_ACCOUNT_ID}} \
            --region ${{ env.AWS_REGION }} 
        fi
        