name: Sets up AWS Infra for Multi-Account Deployment

on:
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  AWS_TOOLING_ACCOUNT_ID: 824161490652
  AWS_ACCOUNT_ID: 612782034526

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy AWS
    runs-on: ubuntu-latest
    environment: staging

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
          role-to-assume: arn:aws:iam::${{ env.AWS_TOOLING_ACCOUNT_ID }}:role/GitHubActionsDeployRole
          aws-region: ${{ env.AWS_REGION }}

    - name: Validate Roles Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/deploy-roles.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Deploy Role 
      run: |
        aws cloudformation deploy \
        --stack-name deploy-roles \
        --template-file templates/deploy-roles.yaml \
        --output json \
        --no-fail-on-empty-changeset \
        --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
        --region ${{ env.AWS_REGION }}

    - name: Validate S3 Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/deploy-s3.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Deploy S3 Bucket
      run: |
        aws cloudformation deploy \
        --stack-name deploy-s3-stack \
        --template-file templates/deploy-s3.yaml \
        --output json \
        --no-fail-on-empty-changeset \
        --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
        --region ${{ env.AWS_REGION }}
    
    - name: Validate Cross Account Roles Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/cross-account-roles.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}

    - name: Copy Template File to S3 Bucket
      run: |
       aws s3 cp templates/cross-account-roles.yaml s3://deployment-template/cross-account-roles.yaml


    