name: Deploy AWS Control Tower Landing

on:
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  login:
    name: Login to Tooling Account
    runs-on: ubuntu-latest
    steps:
      - name: Testing variables
        run: |
          echo "Using account ID: ${{ secrets.AWS_ACCOUNT_ID }}"
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Testing variables
        run: |
          echo "Using account ID: ${{ secrets.AWS_ACCOUNT_ID }}"