name: Sets up AWS Infra for Multi-Account Deployment

on:
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  CROSS_ACCOUNT_STACK_SET_NAME: cross-account-roles-stack 


permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy AWS Cross Account roles
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_TOOLING_ACCOUNT_ID }}:role/GitHubActionsDeployRole
          aws-region: ${{ env.AWS_REGION }}

    - name: Validate Roles Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/deploy-roles.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Deploy Role 
      run: |
        aws cloudformation deploy \
        --stack-name deploy-roles \
        --template-file templates/deploy-roles.yaml \
        --output json \
        --no-fail-on-empty-changeset \
        --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
        --region ${{ env.AWS_REGION }}

    - name: Validate S3 Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/deploy-s3.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}
    
    - name: Deploy S3 Bucket
      run: |
        aws cloudformation deploy \
        --stack-name deploy-s3-stack \
        --template-file templates/deploy-s3.yaml \
        --output json \
        --no-fail-on-empty-changeset \
        --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
        --region ${{ env.AWS_REGION }}
    
    - name: Validate Cross Account Roles Template
      run: |
        aws cloudformation validate-template \
        --template-body file://templates/cross-account-roles.yaml \
        --output json \
        --region ${{ env.AWS_REGION }}

    - name: Copy Template File to S3 Bucket
      run: |
       aws s3 cp templates/cross-account-roles.yaml s3://deployment-template/cross-account-roles.yaml
    
    - name: Deploy Cross Account Roles Stack Set
      run: |
        # If we have a stack set then create it goes to 'else' (Update). 
        if ! aws cloudformation describe-stack-set --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} --call-as DELEGATED_ADMIN --region ${{ env.AWS_REGION }} > /dev/null 2>&1; then
          echo "StackSet does not exist. Creating..."
          
          aws cloudformation create-stack-set \
            --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
            --template-url https://deployment-template.s3.${{ env.AWS_REGION }}.amazonaws.com/cross-account-roles.yaml \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --permission-model SERVICE_MANAGED \
            --auto-deployment Enabled=true,RetainStacksOnAccountRemoval=false \
            --call-as DELEGATED_ADMIN \
            --parameters ParameterKey=ToolingAccountId,ParameterValue=${{secrets.AWS_TOOLING_ACCOUNT_ID}} \
            --region ${{ env.AWS_REGION }} 
          
          echo "Create stack instances"
          aws cloudformation create-stack-instances \
            --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
            --regions ${{ env.AWS_REGION }} \
            --deployment-targets OrganizationalUnitIds='["${{secrets.AWS_ORGANIZATIONAL_UNIT_ID}}"]' \
            --call-as DELEGATED_ADMIN \
            --operation-preferences FailureToleranceCount=0,MaxConcurrentCount=1
          
        else
          echo "StackSet already exists. Updating template..."
          aws cloudformation update-stack-set \
            --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
            --template-url https://deployment-template.s3.${{ env.AWS_REGION }}.amazonaws.com/cross-account-roles.yaml \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --permission-model SERVICE_MANAGED \
            --auto-deployment Enabled=true,RetainStacksOnAccountRemoval=false \
            --call-as DELEGATED_ADMIN \
            --parameters ParameterKey=ToolingAccountId,ParameterValue=${{secrets.AWS_TOOLING_ACCOUNT_ID}} \
            --region ${{ env.AWS_REGION }}
          
          # Check if we have any stack instan
          INSTANCE_CHECK=$(aws cloudformation list-stack-instances \
            --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
            --call-as DELEGATED_ADMIN \
            --query "Summaries[?OrganizationalUnitId=='${{secrets.AWS_ORGANIZATIONAL_UNIT_ID}}']" \
            --output text)

          # No stack instances so create them
          if [ -z "$INSTANCE_CHECK" ]; then
            echo "StackSet exists but OU is not targeted. Creating instances..."
            aws cloudformation create-stack-instances \
              --stack-set-name ${{env.CROSS_ACCOUNT_STACK_SET_NAME}} \
              --regions ${{ env.AWS_REGION }} \
              --deployment-targets OrganizationalUnitIds='["${{secrets.AWS_ORGANIZATIONAL_UNIT_ID}}"]' \
              --call-as DELEGATED_ADMIN
          # Stack instances exist so update handles    
          else
            echo "OU is already targeted. Update-stack-set will handle the rollout."
          fi
        fi